.Display {
    position: absolute;
    top: 7%;
    bottom: 5%;
    left: 10%;
    right: 10%;
    height: 88%;
    width: 80%;
    background-color: #1c2424;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    overflow-y: scroll;
    font-family: 'Courier New', Courier, monospace;    
    font-size: 2rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.Display::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.Display {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media only screen and (max-width: 700px) {
    .Display {
        padding: 2% 2% 2% 2%;
    }
}